.table {
    cursor: pointer;
}

.blue {
    background-color: rgba(39, 171, 223, 0.459);
    background-image: linear-gradient(to right, rgba(39, 171, 223, 0.459) ,rgba(39, 171, 223, 0.459));
}

.fridge{
    width: 30px;
    height: 30px;
    background-color: rgba(39, 171, 223, 0.459);
    background-image: linear-gradient(to right, rgba(39, 171, 223, 0.459) ,rgba(39, 171, 223, 0.459));
}

.default {
    width: 30px;
    height: 30px;
    background-color: rgba(107, 207, 68, 0.479);
    background-image: linear-gradient(to right, rgba(107, 207, 68, 0.479) ,rgba(107, 207, 68, 0.479));
}

.brown{
    width: 30px;
    height: 30px;
    background-color: rgba(233, 159, 47, 0.603);
    background-image: linear-gradient(to right, rgba(233, 159, 47, 0.603) ,rgba(233, 159, 47, 0.603));
}

.fridger, .browner, .mixxer, .defaulter {
    padding-left: 40px;
}

.mix {
    width: 30px;
    height: 30px;
    background-color: white ;
    background-image: linear-gradient(to right, rgba(68, 196, 247, 0.473) ,rgba(233, 159, 47, 0.603));
}

strong {
    font-size: 15px;
}

.form-group {
    width: 25%;
    margin-left:100px;
}


.btn {
    margin-top: 4px;
    height:40px;
    margin-right:10px;
    background-color: #8d000c!important;
    text-transform: none;
}

.table-default{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.116), 0 7px 7px rgba(0, 0, 0, 0.096);     
}

.background-img{
        background-image: url('../../assets/img/techback.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;
  
}



.cssload-preloader {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 10;
}

.cssload-preloader > .cssload-preloader-box {
	position: absolute;
	height: 29px;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -146px;
	perspective: 195px;
		-o-perspective: 195px;
		-ms-perspective: 195px;
		-webkit-perspective: 195px;
		-moz-perspective: 195px;
}

.cssload-preloader .cssload-preloader-box > div {
	position: relative;
	width: 29px;
	height: 29px;
	background: rgb(204,204,204);
	float: left;
	text-align: center;
	line-height: 29px;
	font-family: Verdana;
	font-size: 19px;
	color: rgb(255,255,255);
}.cssload-preloader .cssload-preloader-box > div:nth-child(1) {
	background: rgb(207,4,4);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 0ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 0ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 0ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 0ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 0ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(2) {
	background: rgb(207,4,4);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 86.25ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 86.25ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 86.25ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 86.25ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 86.25ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(3) {
	background: rgb(207,4,4);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 172.5ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 172.5ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 172.5ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 172.5ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 172.5ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(4) {
	background: rgba(207,4,4,0.98);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 258.75ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 258.75ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 258.75ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 258.75ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 258.75ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(5) {
	background: rgb(207,4,4);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 345ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 345ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 345ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 345ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 345ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(6) {
	background: rgb(207,4,4);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 431.25ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 431.25ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 431.25ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 431.25ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 431.25ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(7) {
	background: rgb(207,4,4);
	margin-right: 15px;
	animation: cssload-movement 690ms ease 517.5ms infinite alternate;
		-o-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
		-ms-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
		-webkit-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
		-moz-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
}


@keyframes cssload-movement {
	from {
		transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 39px rgb(207,4,4);
		background: rgb(207,4,4);
	}
}

@-o-keyframes cssload-movement {
	from {
		-o-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-o-transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 39px rgb(207,4,4);
		background: rgb(207,4,4);
	}
}

@-ms-keyframes cssload-movement {
	from {
		-ms-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-ms-transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 39px rgb(207,4,4);
		background: rgb(207,4,4);
	}
}

@-webkit-keyframes cssload-movement {
	from {
		-webkit-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-webkit-transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 39px rgb(207,4,4);
		background: rgb(207,4,4);
	}
}

@-moz-keyframes cssload-movement {
	from {
		-moz-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-moz-transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 39px rgb(207,4,4);
		background: rgb(207,4,4);
	}
}