<div>
  <div class="form-group">
    <label class="col-form-label col-form-label-lg" for="inputLarge">Ψάξε για περιοχή</label>
    <input class="form-control form-control-lg" #query (keyup)="filter(query.value)" type="text" placeholder="Εδώ πληκτρολογείς την περιοχή που θές να ψάξεις"
      id="inputLarge">
    <label for="exampleSelect1">Διάλεξε κριτήριο αναζήτησης</label>
    <select class="form-control" id="exampleSelect1" (change)="changeSearch()">
      <option>Πόλη</option>
      <option>Νομός</option>

    </select>
  </div>

<div *ngFor="let part of filteredPartner" class="container mt-5">
  <div class="card">
    <div class="card-header">
        <h2 class="card-header">{{part.nomos}}</h2>
    </div>
    <div class="card-body">
        <h4 class="card-title"><strong>Πόλη:</strong> {{part.city}}</h4>
        <p class="card-text"><strong>Ονομ/ώνυμο:</strong> {{part.partner}}</p>
        <p class="card-text"><strong>Τηλ:</strong> {{part.phone}}</p>
        <p class="card-text"><strong>ΤΚ:</strong> {{part.postCode}}</p>
        <p class="card-text"><strong>Διεύθυνση:</strong> {{part.address}}</p>
        <p class="card-text"><strong>Email:</strong> {{part.email}}</p>
        <p class="card-text"><strong>Κινητό: </strong>{{part.mobile}}</p>
        
    </div>
  </div>
</div>